.contaner {width: 1000px; margin: 0 auto;}

.row {position: relative; margin: 0 20px;}

#header .header-data {
    font-weight: 600;
    font-size: 12px;
    padding-top: 30px;
    display: block;
    color: #a8a8a8;
    font-family: "Montserrat"
}
#header .header-title {
    font-weight: bold;
    font-size: 32px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    margin-bottom: 12px;
    font-family: "Montserrat"
}
#header .header-id {
    position: absolute; right: 0; bottom: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    /* text-align: center;
    line-height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(180deg, #DDDADA 0%, #C0C0C0 100%);
}
/* bestM */
.bestM .best-title .bt-stit {color: #DA5E7C; font-size: 12px; line-height: 1.67; font-weight:600; font-family: "Montserrat"}
.bestM .best-title .bt-tit {font-size: 22px; padding-bottom: 5px; font-weight: 600; font-family: "Montserrat"} 
.bestM .best-title .bt-desc {font-size: 22px; font-weight: 300; margin-bottom: 10px; color: #818181; font-weight:300; font-family: "Nanum Gothic"}

/* recentM */
.recentM {padding: 10px 0; margin-top: 19px; font-family: "Montserrat"; overflow: hidden;}
.recentM .recent {float: left; width: 49%; margin-right: 2%; font-family: "Montserrat"}
.recentM .recent:last-child {margin-right: 0; font-family: "Montserrat"}
.recentM h2 {font-size: 20px; font-weight: bold; margin-bottom: 12px; margin-top: 16px; padding-top: 20px; border-top: 1px solid #ebebeb; font-family: "Montserrat"}
.recentM .recent-title .rt-stit {font-size: 15px; font-family: "Montserrat"; font-weight: 500; font-weight: bold; line-height: 1.9;} 
.recentM .recent-title .rt-tit {color: #908f94; font-size: 15px; font-family: "Montserrat"; font-weight: 500; font-weight: bold;} 

/* nextM */
.nextM {}
.nextM h2 {font-size: 20px; font-weight: bold; margin-bottom: 12px; margin-top: 16px; padding-top: 20px; border-top: 1px solid #ebebeb; font-family: "Montserrat"}
.nextM .next {display: flex; margin-bottom: 10px; position: relative;}
.nextM .next::after {
    content: '';
    position: absolute; right: 0; bottom: -8px;
    width: calc(100% - 114px);
    height: 1px;
    background-color: #ebebeb;
}
.nextM .next .next-img {width: 102px; margin-right: 12px;}
.nextM .next .next-tit {display: flex; flex-direction: column; justify-content: center; }
.nextM .next .next-tit .nt-stit {color: #da5e70; font-size: 12px; font-weight: 600;}
.nextM .next .next-tit .nt-tit {font-size: 16px; font-weight: 600;}
.nextM .next .next-tit .nt-disc {
    font-size: 13px; color: #a1a1a3; font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
 }

/* midiaquery */
@media (max-width: 1020px) {
    .contaner {width: 100%;}
}
/* music Select */
.music-selc-box {padding-top: 20px; width: 1000px; margin: 0 auto; height: 67px; background-color: #ededed;}
.music-selc {display: flex;}
.music-selc-img {width: 48px; margin-right: 12px; margin-bottom: 12px; margin-top: 12px; border-radius: 3px;}
.music-name {font-size: 12px; font-weight: 600; margin-top: 21px; font-family: "Montserrat"; margin-left: 15px;}
.next-music-key {margin-right: 64px; position: absolute; right: 0; bottom: 5px; margin-bottom: 21px;}
.next-music-key2 {margin-right: 32px; position: absolute; right: 0; bottom: 5px; margin-bottom: 21px;}
.next-music-key3 {margin-right: 20px; position: absolute; right: 0; bottom: 5px; margin-bottom: 21px;}

/* under-bar */
