.contaner {width: 1000px; margin: 0 auto;}

.row {position: relative; margin: 0 20px;}

#header .header-data {
    font-weight: 600;
    font-size: 12px;
    padding-top: 30px;
    display: block;
    color: #a8a8a8;
    font-family: "Montserrat"
}
#header .header-title {
    font-weight: bold;
    font-size: 32px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    margin-bottom: 12px;
    font-family: "Montserrat"
}
#header .header-id {
    position: absolute; right: 0; bottom: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    /* text-align: center;
    line-height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(180deg, #DDDADA 0%, #C0C0C0 100%);
}
/* bestM */
.bestM .best-title .bt-stit {color: #DA5E7C; font-size: 12px; line-height: 1.67; font-weight:600; font-family: "Montserrat"}
.bestM .best-title .bt-tit {font-size: 22px; padding-bottom: 5px; font-weight: 600; font-family: "Montserrat"} 
.bestM .best-title .bt-desc {font-size: 22px; font-weight: 300; margin-bottom: 10px; color: #818181; font-weight:300; font-family: "Nanum Gothic"}

/* recentM */
.recentM {padding: 10px 0; margin-top: 19px; font-family: "Montserrat"; overflow: hidden;}
.recentM .recent {float: left; width: 49%; margin-right: 2%; font-family: "Montserrat"}
.recentM .recent:last-child {margin-right: 0; font-family: "Montserrat"}
.recentM h2 {font-size: 20px; font-weight: bold; margin-bottom: 12px; margin-top: 16px; padding-top: 20px; border-top: 1px solid #ebebeb; font-family: "Montserrat"}
.recentM .recent-title .rt-stit {font-size: 15px; font-family: "Montserrat"; font-weight: 500; font-weight: bold; line-height: 1.9;} 
.recentM .recent-title .rt-tit {color: #908f94; font-size: 15px; font-family: "Montserrat"; font-weight: 500; font-weight: bold;} 



/* midiaquery */
@media (max-width: 1020px) {
    .contaner {width: 100%;}
}
    